<div class="py-0 text-center" style="background: gray">
    <div class="alert alert-danger alert-dismissible" ng-if="$ctrl.message">
        <a class="close" data-dismiss="alert" aria-label="close" ng-click="$ctrl.message=null">&times;</a>
        <p ng-show="$ctrl.message===401 || $ctrl.message===400" translate="error.bad-credentials"></p>
        <p ng-show="$ctrl.message===-1" translate="error.unknown"></p>
    </div>
    <div class="py-5 text-center">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-md-6 col-10 bg-white p-5">
                    <h1 class="mb-4" translate="header.login"></h1>
                    <form name="loginForm">
                        <div class="form-group"> <input type="text" class="form-control" placeholder="{{'auth.login-form.field.username' | translate}}" ng-model="username"> </div>
                        <div class="form-group mb-3"> <input type="password" class="form-control" placeholder="{{'auth.login-form.field.password' | translate}}" ng-model="password"> </div>
                        <button class="btn btn-primary"  ng-click="$ctrl.login(this)" ng-disabled="loginForm.$invalid" translate="auth.login-form.submit"></button>
                        <a class="btn btn-primary"  href="#!/certificates" translate="common.cancel"></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>